.card{
    width: 95%;
}

.card-title{
    text-align: center;
    font-family: quicksand;
}

.ion-title{
    text-align: left;
    font-family: quicksand;
}




.text{
    text-align: left;
    font-family: Quicksand;
}
