<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="Title" >
      RoomCraft - {{currentInput}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--Allows you to enter name of project-->
<ion-content [fullscreen]="true">
  <!-- <ion-item>
    <ion-label position="floating">Project Name</ion-label>
    <ion-textarea [(ngModel)] = "currentInput" placeholder="type here"></ion-textarea>
  </ion-item> -->


<div class="button-container">
  <div id="camera-button">
  <ion-button (click)="addPhotoToGallery()"><ion-icon style="margin-right: 5%;"name="camera"></ion-icon> Take Photo</ion-button>
  </div>
  <div id="file-button">
  </div>
</div>


<!-- 
  <section>
  <ion-button color="success" (click)="moveToHome()">Save</ion-button>
  </section> -->

  <!-- <section>
    <ion-button color="success">Complete</ion-button>
  </section> -->

  <!--displaying picture-->

  <!-- <div class="example-boundary">
    <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
      I can only be dragged within the dotted container
    </div>
  </div> -->

  <ion-grid>
    <ion-row>
      <ion-col *ngFor='let photo of photoService.photos'>
          <div class="example-boundary">
              <div class="box">
              <ion-img id="myImage" [src]='photo.webViewPath' >
              </ion-img>
            </div>
            <!-- this is where the 3d models are spawned -->
            <div class="spawn-points">
            <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
              <div id="chair" [innerHtml]="htmlToAdd | htmlHandle">
              </div>
            </div>
            <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
              <div id="lamp" [innerHtml]="htmlToAdd2 | htmlHandle">
              </div> 
            </div>
            <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
              <div id="couch" [innerHtml]="htmlToAdd3 | htmlHandle">
              </div>
            </div>
            <div class="example-box" cdkDragBoundary=".example-boundary" cdkDrag>
              <div id="table" [innerHtml]="htmlToAdd4 | htmlHandle">
              </div>
              </div>
            </div>
              <!-- This is where 3d model spawns end -->
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--Takes picture and adds to the photo gallery-->
  <!-- <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->



   <br>
      
       <ion-card> 
          <model-viewer 
              src="../../assets/3d/chair-roomcraft/root.gltf" 
              alt="chair" 
              camera-controls
              auto-rotate> 
          </model-viewer>
          <ion-card-header>
            <ion-card-title>
              Chair
            </ion-card-title>
          </ion-card-header>
           <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </ion-card-content>
        <div class="action-button">
          <ion-button (click)="addChair()">Add</ion-button>
          <ion-button color="danger"(click)="deleteChair()">Remove</ion-button>
        </div>
        </ion-card>
 
      

        <ion-card class="card">
           <model-viewer 
              src="../../assets/3d/lamp-roomcraft/root.gltf" 
              alt="chair" 
              camera-controls
              auto-rotate>
            </model-viewer>
          <ion-card-title>
            Lamp
          </ion-card-title>
          <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </ion-card-content>
        <div class="action-button">
          <ion-button (click)="addLamp()">Add</ion-button>
          <ion-button color="danger"(click)="deleteLamp()">Remove</ion-button>
        </div>
        </ion-card>
  
  
  
        <ion-card class="card">
          <model-viewer 
          src="../../assets/3d/sofa-roomcraft/root.gltf" 
          alt="chair" 
          camera-controls
          auto-rotate>
        </model-viewer>
          <ion-card-title>
            Couch
          </ion-card-title>
          <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </ion-card-content>
        <div class="action-button">
          <ion-button (click)="addCouch()">Add</ion-button>
          <ion-button color="danger"(click)="deleteCouch()">Remove</ion-button>
        </div>
        </ion-card>

 


        <ion-card class="card">
          <model-viewer 
          src="../../assets/3d/table-roomcraft/root.gltf" 
          alt="chair" 
          camera-controls 
          auto-rotate
          annotaions="">
        </model-viewer>
          <ion-card-title>
            Table
          </ion-card-title>
          <ion-card-content>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </ion-card-content>
        <div class="action-button">
          <ion-button (click)="addTable()">Add</ion-button>
          <ion-button color="danger"(click)="deleteTable">Remove</ion-button>
        </div>
        </ion-card>
  



</ion-content>

<style>
  #Title{
    font-family: ARVO;
    color: ffffff;
    text-align: center;
    font-size: 30px;
};  
</style>

<style>
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }

  header {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-bottom: 1.25em;
    text-transform: uppercase;
  }

  section {
    margin-top: 1em;
    margin-bottom: 2.5em;
  }

  section:not(.full-width),
  .full-width > header {
    padding: 0 10px;
  }
</style>
