<ion-header [translucent]="true">
  <ion-toolbar>
    <div id="Title">
      RoomCraft
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
     <ion-list >
      <ion-list-header id="Title">
        Saved Projetcs
      </ion-list-header>
      
 
      <ion-card *ngFor="let photo of projectsList" >
        <img src={{photo.imageUrl}} />
        
        <ion-card-header>
          <ion-card-title>{{photo.projectName}}</ion-card-title>
        </ion-card-header>
      </ion-card> 
 

    </ion-list>

    <section>
      <ion-button (click)="readFile()" expand="round">New Project</ion-button>
    </section>

    <form [formGroup]="form">
      <label> Name </label>
      <ion-input
        type="text"
        formControlName="name"
        placeholder="Enter Project Title"
      ></ion-input>
      <br />
      <label for="avatar">Choose a profile picture:</label>
      <ion-input
        type="file"
        id="avatar"
        name="avatar"
        accept="image/*"
        (change)="readFile($event)"
      ></ion-input>
      <br />
      <ion-button type="submit" (click)="uploadFile()">Save</ion-button>
    </form>


        
</ion-content>
<style>
  #Title{
    font-family: ARVO;
    color: ffffff;
    text-align: center;
    font-size: 30px;
};  

.button{
  background-color: #7E60F3;
  size: 1000000px;
}

</style>

<style>
  :root {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
  }

  header {
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.05em;
    margin-bottom: 1.25em;
    text-transform: uppercase;
  }

  section {
    margin-top: 1em;
    margin-bottom: 2.5em;
  }

  section:not(.full-width),
  .full-width > header {
    padding: 0 10px;
  }
  #DesigingButton{
    text-align: right;
  }
</style>
