// ion-card{
//     --background: #B4A0FF;
// }

// .item-background-color{
//     --ion-item-background: #B4A0FF;
// }

ion-card-header{
    background-color: #B4A0FF;
}
ion-list{
    background-color: #B4A0FF;
}

#button{
    display: block;
    margin: auto;
    width: 70%;
}