<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="Title">
      Store
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar type="text" placeholder="Search" position="floating"  showCancelButton="focus" [(ngModel)]="term.name"></ion-searchbar>
  <!-- <ion-icon name="bed-outline" size="large"></ion-icon> -->
  <div>
  <ion-title>
    Amazon
    <ion-icon name="logo-amazon"></ion-icon>
  </ion-title>

  <ion-card (click)="move()" *ngFor="let shop of storeItems | filter:term.name">
    <img class="image" src="{{shop.image}}"/>
    <div class="product-details">
    <ion-card-title>{{shop.name}}</ion-card-title>
    <ion-card-subtitle>{{shop.description}}</ion-card-subtitle>
    <ion-card-title color="success" class="card-title">{{shop.price}}</ion-card-title>
  </div>
  </ion-card>
  </div>
  
</ion-content>

<style>
  #Title{
    font-family: ARVO;
    color: ffffff;
    text-align: center;
    font-size: 30px;
};

</style>
