<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button></ion-back-button>
    <ion-title id="Saved_DesignsTitle">
      Saved Designs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Saved Designs page"></app-explore-container>
</ion-content>

<style>
  #Saved_DesignsTitle{
    font-family: SeoulHangang CBL;
    color: ffffff;
    text-align: center;
    font-size: 36px;
  }
</style>